@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300italic,400italic,600italic,400,600,300);
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
#logo {
    color: #fff;
}
h1, h2, h3, h4, #bar a, #logo {
    font-family: 'Montserrat', sans-serif;
}
p, span, a, li, input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
input {
    padding: 5px 10px;
    border-radius: 3px;
}
a {
    text-decoration: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.width {
    width: 100%;
    box-sizing: border-box;
}
.height {
    height: 100%;
    box-sizing: border-box;
}
.halfX {
    height: 50%;
}
.halfY {
    width: 50%;
}
.tier {
    padding: 80px 0px;
}
.tile {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
#top {
    background: #0000ff;
}
#me {
    width: 30%;
    background: #ff0000;
}
#myInfo {
    width: 70%;
}
#infoTop {
    background: #000;
}
#infoBottom {
    background: #fff;
}
/* CSS for tiers */
#about, #contact {
    text-align: center;
}
/* CSS for nav */
#nav {
    background: #868689;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    text-align: center;
    display: none;
}
#bar li {
    display: inline;
    margin: 0px 30px;
}
#bar li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
/* blog CSS */
#filter, #templateContainer {
    box-sizing: border-box;
    padding: 0px 30px;
}
#filter {
    width: 30%;
    background-color: #3C3E43;
    color: #fff;
}
#templateContainer {
    width: 70%;
    position: relative;
}
#templateContainer h2 {
    font-size: 30px;
}
#posts {
    position: absolute;
}
/* CSS form */
#contactMe input {
    display: block;
    width: 40%;
    margin: 0px 30%;
}