include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= 'Max Baldwin'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="css/styles/semantic.css")
		link(rel="stylesheet" type="text/css" href="css/styles/master.css")
		link(rel="stylesheet" type="text/css" href="css/components/icon.css")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head
	body(ng-app="mySiteApp")
		div#wrapper.width.height
			div#top.ui.inverted.teal.vertical.segment
			div.ui.tabular.menu
				div.item.active(data-tab="about") About
				div.item(data-tab="rep") Reputation
				div.item(data-tab="skills") Skills
				div.item(data-tab="journal") Journal
				div.item(data-tab="contact") Contact

			div.ui.tab.about.active(data-tab="about")
				div.tab-con.about
					include ./about
			div.ui.tab.skills(data-tab="rep")
				div.tab-con.reputation
					include ./reputation
			div.ui.tab.skills(data-tab="skills")
				div.tab-con.skills
					include ./skills
			div.ui.tab.skills(data-tab="journal")
				div.tab-con.journal
					include ./journal
			div.ui.tab.contact(data-tab="contact")
				div.tab-con.contact
					block content

	script(type="text/javascript", src="js/site.min.js")
	script(type="text/javascript", src="js/templates.min.js")