div.ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
    div.center.aligned.column
        h2
            i.big.github.icon
        h2 904
            p Commits this year
    div.ui.two.column.middle.aligned.stackable.grid
        div.column.center.aligned
            span.number 6
            p Longest Streak
        div.column.center.aligned
            span.number 6
            p Current Streak
    div.center.aligned.column
        h2
            i.big.stack.exchange.icon
        h2 632
        p Reputation
    div.ui.two.column.middle.aligned.stackable.grid
        div.column.center.aligned
            span.number 3
            p Silver
        div.column.center.aligned
            span.number 12
            p Bronze