h1 I got skills!!!
div.filters
    div.ui.red.button(data-filter='js') Javascript
    div.ui.blue.button(data-filter='framework') Frameworks
    div.ui.green.button(data-filter='template') Templating
    div.ui.yellow.button(data-filter='scripting') Scripting
    div.ui.orange.button(data-filter='server') Server Side
    div.ui.purple.button(data-filter='mobile') Mobile
    div.ui.teal.button(data-filter='this-site') This Site
    div.ui.button(data-filter='progress') All
div.scale
    div.measure(data-filter='just-learning')
        span Just Learning
    div.measure(data-filter='well-enough')
        span Well Enough
    div.measure(data-filter='pretty-good')
        span Pretty Good
    div.measure(data-filter='sharp')
        span Very Sharp
    div.measure(data-filter='beast-mode')
        span Beast Mode
    div.clear
div.rulers
    div.ui.red.progress.js.this-site.beast-mode
        div.label jQuery
        div.bar.jquery.beast-mode
    div.ui.red.progress.js.template.pretty-good
        div.label Underscore JS
        div.bar.underscore.pretty-good
    div.ui.red.progress.js.pretty-good
        div.label Angular JS
        div.bar.angular.pretty-good
    div.ui.red.progress.js.this-site.server.scripting.beast-mode
        div.label Node JS
        div.bar.node.beast-mode
    div.ui.red.progress.js.react.just-learning
        div.label React JS
        div.bar.react.just-learning
    div.ui.blue.progress.framework.sharp
        div.label Bootstrap
        div.bar.bootstrap.sharp
    div.ui.blue.progress.framework.this-site.sharp
        div.label Sematic UI
        div.bar.semantic.sharp
    div.ui.green.progress.template.server.this-site.well-enough
        div.label Jade
        div.bar.jade.well-enough
    div.ui.green.progress.template.server.well-enough
        div.label Nunjucks
        div.bar.nunjucks.well-enough
    div.ui.yellow.progress.scripting.server.this-site.pretty-good
        div.label Python
        div.bar.python.pretty-good
    div.ui.yellow.progress.scripting.server.pretty-good
        div.label Flask
        div.bar.flask.pretty-good
    div.ui.purple.progress.mobile.just-learning.framework
        div.label Ionic
        div.bar.ionic.just-learning
    div.ui.purple.progress.mobile.just-learning.framework
        div.label React Native
        div.bar.react-native.just-learning
    div.ui.purple.progress.mobile.just-learning.framework.server
        div.label Cordova
        div.bar.cordova.just-learning