{% extends 'layout.html' %}

{% block body %}
    <header class="title">
        <h1>Please excuse the appearance. I am working on <a href="https://github.com/maxrbaldwin/myCMS" target="_blank">something really cool</a>.</h1>
    </header>
    <section class="contact">
        <img class="profile-pic" src="/images/profile.jpeg" alt="my pic"/>
        <ul class="social-icons">
            <li class="icon"><a href="https://github.com/maxrbaldwin" target="_blank"><img src="/images/github-icon.png" alt="Github" /></a></li>
            <li class="icon"><a href="http://stackoverflow.com/users/3266303/max-baldwin" target="_blank"><img src="/images/stackoverflow-icon.png" alt="Stackoverflow" /></a></li>
            <li class="icon"><a href="https://twitter.com/MaxRBaldwin" target="_blank"><img src="/images/twitter-icon.jpg" alt="Twitter" /></a></li>
            <li class="icon"><a href="https://www.linkedin.com/in/maxbaldwin" target="_blank"><img src="/images/linkden-icon.png" alt="Linkden" /></a></li>
        </ul>
    </section>
    <footer class="bottom">
        <h1>In the meantime, let's connect.</h1>
    </footer>
{% endblock %}
