@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300italic,400italic,600italic,400,600,300);
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
#logo {
    color: #fff;
}
h1, h2, h3, h4, #bar a, #logo {
    font-family: 'Montserrat', sans-serif;
}
p, span, a, li, input, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
input, textarea {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
a {
    text-decoration: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.width {
    width: 100%;
    box-sizing: border-box;
}
.height {
    height: 100%;
}
.halfX {
    height: 50%;
}
.halfY {
    width: 50%;
}
.tier {
    padding: 80px 0px;
}
.tile {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
#top {

}
#me {
    width: 30%;
    background: #ff0000;
}
#myInfo {
    width: 70%;
}
#infoTop {

}
#infoBottom {

}
/* CSS for tiers */
#about, #contact {
    text-align: center;
}
div.title {
    text-align: center;
    width: 100%;
}
/* CSS for nav */
#nav {
    background: #868689;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    text-align: center;
    display: none;
    z-index: 1000;
}
#bar li {
    display: inline;
    margin: 0px 30px;
}
#bar li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
/* About CSS */
#aboutMe {
    width: 60%;
    margin: 0px 20%;
    font-size: 20px;
    line-height: 30px;
}
#aboutMe p {
    text-align: left;
    margin-bottom: 10px;
}
#myIcon {
    width: 10%;
    border-radius: 100%;
    margin: 20px 0px;
}
/* blog CSS */
#filter, #templateContainer {
    box-sizing: border-box;
    padding: 30px;
}
#filter {
    width: 30%;
    background-color: #3C3E43;
    color: #fff;
}
#templateContainer {
    width: 70%;
    position: relative;
}
#posts {
    position: absolute;
}
.posts {
    margin: 10px 0px;
}
.posts h2 {
    font-size: 30px;
}
.posts .postInfo {
    margin: 10px 0px;
}
/* CSS form */
#contactMe {
    display: block;
    width: 40%;
    margin: 0px 30%;
    text-align: left;
}

#contactMe input.contactField, #contactMe textarea.contactField {
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 100;
}
#contactMe input.fullField, #contactMe textarea.fullField {
    width: 100%;
    display: block;
}
#contactMe input.botValidation {
    display: inline;
    width: 28%;
}
input#contactSubmit {
    width: 30%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: block;
}
input.invalid {
    border: 1px solid #ff0000;
}
