@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600|Roboto+Slab:400,100,300);
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background: #fff;
}
/* Primary Fonts. Semantic font resets included */

h1,
h2,
h3,
h4,
.ui.button,
span {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
/* Secondary fonts. Semantic font resets included */

p,
a,
li,
input,
textarea,
.ui.form input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

span.number {
    font-size: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.width,
.half-width {
    box-sizing: border-box;
}

.width {
    width: 100%;
}

.clear {
    clear: both;
}
/* General Styles */

.tab-con {
    text-align: center;
}

.tab-con .tab-details {
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}

.tab-con.about {
    width: 50%;
    margin: 0px 25%;
}

.tab-con.reputation {
    width: 60%;
    margin: 0px 20%;
}

.tab-con.skills {
    width: 60%;
    margin: 0px 20%;
}

.tab-con.journal {
    width: 60%;
    margin: 0px 20%;
}

.tab-con.contact {
    width: 50%;
    margin: 0px 25%;
}
/* About */

.my-icon {
    max-height: 100px;
    max-width: 100px;
    border-radius: 100%;
}
/* Skills */

div.scale {
    margin: 30px 0px 5px;
}

div.measure {
    width: 20%;
    float: left;
}

div.rulers {
    padding: 0px 0px 30px;
}

div.ui.progress .bar.just-learning {
    width: 20%;
}

div.ui.progress .bar.well-enough {
    width: 40%;
}

div.ui.progress .bar.pretty-good {
    width: 50%;
}

div.ui.progress .bar.sharp {
    width: 80%;
}

div.ui.progress .bar.beast-mode {
    width: 100%;
}
/* Contact */

div.contact-icons {
    margin-bottom: 20px;
}
/* Semantic Resets */

.ui.menu {
    margin: 0px;
}

.ui.tabular.menu .active.item {
    border-radius: 0px;
    border-top: 0px;
    box-shadow: none;
}

.ui.tabular.menu {
    background-color: #F8F8F8
}
