.block {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slide {
  width: 60%;
  margin: 15% 20% 0px;
  padding: 40px 0px;
}
.featured:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url('/images/backgrounds/feet.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.featured {
  .profile {
    text-align: center;
    width: 40%;
    margin: 0px 30%;
    position: absolute;
    top: 30%;

    .profile-pic img {
      border-radius: 100%;
      max-width: 150px;
      max-height: 150px;
      border: 5px solid $light-back;
    }

    .profile-desc {
      margin: 20px 0px;
    }

    .profile-connect {
      li {
        display: inline-block;
        list-style: none;
        margin: 0px 5px;
      }
      img {
        width: 30px;
        height: 30px;
        text-shadow: 1px 1px 1px #000000;
      }
    }
  }
}

.about {
  text-align: center;

  .title {
    margin-bottom: 40px;
  }

  .body {
    text-align: left;
  }
}

.skills {
  background-color: $light-back;

  .value {
    width: 33.3333%;
    text-align: center;
  }

  .quote h3 {
    font-style: italic;
  }
}

.project {
  .title {
    text-align: center;
  }
  .body-left img {
    border-radius: 25%;
    width: 100%;
  }
  .body-left, .body-right {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
  }
  .body-left {
    padding-top: 10%;
  }
  .body-right {
    padding-top: 50px;
  }
}

@media screen and (max-width:800px) {
  .slide {
    width: 80%;
    margin: 20% 10%;
  }
  .featured {
    .profile {
      width: 80%;
      margin: 0px 10%;

      .profile-pic img {
        max-width: 400px;
        max-height: 400px;
      }

      .profile-connect img {
        width: 100px;
        height: 100px;
      }
    }
  }
  .project.block {
    overflow: visible;
  }
  .project {
    .slide {
      margin-top: 0%;
    }
    .body-left, .body-right {
      width: 100%;
    }
    .body-left {
      text-align: center;

      img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width:600px) {

  .featured {
    .profile {
      width: 80%;
      margin: 0px 10%;

      .profile-pic img {
        max-width: 300px;
        max-height: 300px;
      }

      .profile-connect img {
        width: 80px;
        height: 80px;
      }
    }
  }
  .project {
    .body-left, .body-right {
      width: 100%;
    }
    .body-left {
      text-align: center;

      img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width:400px) {
  .slide {
    margin: 0% 5%;
    width: 90%;
  }
  .featured {
    .profile {
      width: 80%;
      margin: 0px 10%;
      top: 20%;

      .profile-pic img {
        max-width: 200px;
        max-height: 200px;
      }

      .profile-connect img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .project {
    .body-left, .body-right {
      width: 100%;
    }
    .body-left {
      text-align: center;

      img {
        width: 50%;
      }
    }
  }
}
