.post-container {
  width: 60%;
  margin: 0px auto;
  max-width: 800px;
}
.post {
  margin-top: 15%;

  .image img {
    width: 100%;
  }

  header {
    margin: 20px 0px;
  }
}
.post-article p {
  margin-bottom: 20px;
}

.card-categories {
  margin: 20px 0px;
}

@media screen and (max-width:800px) {
  .post-container {
    width: 90%;
    margin: 0px 5%;
  }
}
