.post-container {
  width: 60%;
  margin: 0px 20%;
}
.post {
  margin-top: 15%;
}
.post-article p {
  font-size: 15px !important;
  line-height: 25px !important;
  span, strong {
    font-size: 15px !important;
    line-height: 25px !important;
  }
}

.card-categories {
  margin: 20px 0px;
}
