body {
	background: $dark-back;
	color: $white;
}

p, span, a, b, strong, h1, h2, h3, h4, h5 {
	font-family: $open-sans !important;
  color: $white !important;
}

h1, h2, h3, h4, h5 {
	font-weight: $semi-bold !important;
}

h1 {
	font-size: 25px;
}

h2 {
  font-size: 20px;
}

p, span, a, b, strong {
	font-weight: $light !important;
  font-size: 12px !important;
  line-height: 18px !important;
}

a {
  color: $green !important;
}
a:hover {
  text-decoration: none;
}
