@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

body {
  background: #37474F;
  color: #ECEFF1;
  font-size: 100%; }

p, span, a, b, strong, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  color: #ECEFF1; }

h1, h2, h3, h4, h5 {
  font-weight: 600; }

h1 {
  font-size: 25px;
  line-height: 30px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 30px;
  font-weight: 300;
  line-height: 50px; }

p, a, b, a, li, strong {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px; }

.small {
  font-size: 12px;
  line-height: 18px; }

a {
  color: #80CBC4;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.fa-mx {
  font-size: 10px !important;
  margin: 0px 5px; }

@media screen and (max-width: 800px) {
  p, a, b, a, li, strong {
    font-size: 30px;
    line-height: 45px; }
  h1 {
    font-size: 60px;
    line-height: 70px; }
  h2 {
    font-size: 60px;
    line-height: 70px; }
  h3 {
    font-size: 50px;
    line-height: 70px; }
  h5 {
    font-size: 30px; }
  span {
    font-size: 40px; }
  .small {
    font-size: 30px;
    line-height: 35px; }
  .fa-2x {
    font-size: 4em !important; }
  .fa-mx {
    font-size: 30px !important;
    margin: 0px 10px; } }

@media screen and (max-width: 600px) {
  p, a, b, a, li, strong {
    font-size: 25px;
    line-height: 40px; }
  h1 {
    font-size: 50px;
    line-height: 60px; }
  h2 {
    font-size: 60px;
    line-height: 70px; }
  h5 {
    font-size: 25px; }
  h3 {
    font-size: 40px;
    line-height: 60px; }
  span {
    font-size: 30px; }
  .small {
    font-size: 25px;
    line-height: 30px; }
  .fa-2x {
    font-size: 3.5em !important; } }

@media screen and (max-width: 400px) {
  p, a, b, a, li, strong {
    font-size: 20px;
    line-height: 30px; }
  h1 {
    font-size: 30px;
    line-height: 35px; }
  h2 {
    font-size: 35px;
    line-height: 40px; }
  h3 {
    font-size: 25px;
    line-height: 40px; }
  h5 {
    font-size: 25px; }
  span {
    font-size: 20px; }
  .small {
    font-size: 20px;
    line-height: 25px; }
  .fa-2x {
    font-size: 2em !important; }
  .fa-mx {
    font-size: 20px !important;
    margin: 0px 5px; } }

* {
  border: 0px;
  padding: 0px;
  margin: 0px; }

ul, ol {
  margin-bottom: 0px; }

.nav-bar {
  padding: 5px 20px;
  background: #263238;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 3px 5px #263238;
  z-index: 9999; }
  .nav-bar h1 {
    margin: 0px; }
  .nav-bar .nav-list {
    margin: 0px 50px; }
  .nav-bar .nav-options li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    line-height: 30px; }
    .nav-bar .nav-options li a {
      color: #ECEFF1; }

.mobile-nav {
  display: none; }

.nav-mobile {
  display: none; }
  .nav-mobile .nav-options-mobile {
    padding: 20px 10px 0px; }
    .nav-mobile .nav-options-mobile li {
      margin-bottom: 50px;
      list-style: none; }
      .nav-mobile .nav-options-mobile li a {
        color: #ECEFF1; }

@media screen and (max-width: 800px) {
  .mobile-nav {
    display: block; }
  .desk-nav {
    display: none; } }

.deck {
  width: 80%;
  margin: 10% auto;
  max-width: 1000px; }

.card-row {
  width: 100%; }

.card {
  width: 33.3333%;
  box-sizing: border-box;
  padding: 0px 5px; }
  .card .card-shadow {
    box-shadow: 3px 3px 5px #263238; }
  .card .card-image {
    width: 100%;
    overflow: none; }
    .card .card-image img {
      width: 100%; }
  .card .card-body {
    padding: 20px 40px;
    background-color: #263238; }
  .card .post-body {
    margin: 10px 0px; }

.card:nth-child(1) {
  width: 40%; }

.card:nth-child(2) {
  width: 30%; }

.card:nth-child(3) {
  width: 30%; }

@media screen and (max-width: 800px) {
  .deck {
    width: 100%;
    margin: 10% auto; }
    .deck .card {
      width: 100%; }
      .deck .card .post-body {
        margin: 30px 0px; } }

@media screen and (max-width: 400px) {
  .card .body {
    padding: 20px; } }

.post-container {
  width: 60%;
  margin: 0px auto;
  max-width: 800px; }

.post {
  margin-top: 15%; }
  .post .image img {
    width: 100%; }
  .post header {
    margin: 20px 0px; }

.post-article p {
  margin-bottom: 20px; }

.card-categories {
  margin: 20px 0px; }

@media screen and (max-width: 800px) {
  .post-container {
    width: 90%;
    margin: 0px 5%; } }

.footer {
  margin-top: 10%; }
  .footer .slide-footer {
    width: 80%;
    margin: 20px 10%; }

@media screen and (max-width: 800px) {
  .footer {
    text-align: center; } }

.block {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.slide {
  width: 60%;
  margin: 15% auto 0px;
  padding: 40px 0px;
  max-width: 800px; }

.featured:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background-image: url('/images/backgrounds/feet.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.featured .profile {
  text-align: center;
  width: 40%;
  margin: 0px 30%;
  position: absolute;
  top: 30%; }
  .featured .profile .profile-pic img {
    border-radius: 100%;
    max-width: 150px;
    max-height: 150px;
    border: 5px solid #263238; }
  .featured .profile .profile-desc {
    margin: 20px 0px; }
  .featured .profile .profile-connect li {
    display: inline-block;
    list-style: none;
    margin: 0px 5px; }
  .featured .profile .profile-connect img {
    width: 30px;
    height: 30px;
    text-shadow: 1px 1px 1px #000000; }

.about {
  text-align: center; }
  .about .title {
    margin-bottom: 40px; }
  .about .body {
    text-align: left; }

.skills {
  background-color: #263238; }
  .skills .value {
    width: 33.3333%;
    text-align: center; }
  .skills .quote h3 {
    font-style: italic; }

.project .title {
  text-align: center; }
.project .body-left img {
  border-radius: 25%;
  width: 100%; }
.project .body-left, .project .body-right {
  box-sizing: border-box;
  width: 50%;
  padding: 20px; }
.project .body-left {
  padding-top: 10%; }
.project .body-right {
  padding-top: 50px; }

@media screen and (max-width: 800px) {
  .slide {
    width: 80%;
    margin: 20% 10%; }
  .featured .profile {
    width: 80%;
    margin: 0px 10%; }
    .featured .profile .profile-pic img {
      max-width: 400px;
      max-height: 400px; }
    .featured .profile .profile-connect img {
      width: 100px;
      height: 100px; }
  .project.block {
    overflow: visible; }
  .project .slide {
    margin-top: 0%; }
  .project .body-left, .project .body-right {
    width: 100%; }
  .project .body-left {
    text-align: center; }
    .project .body-left img {
      width: 50%; } }

@media screen and (max-width: 600px) {
  .featured .profile {
    width: 80%;
    margin: 0px 10%; }
    .featured .profile .profile-pic img {
      max-width: 300px;
      max-height: 300px; }
    .featured .profile .profile-connect img {
      width: 80px;
      height: 80px; }
  .project .body-left, .project .body-right {
    width: 100%; }
  .project .body-left {
    text-align: center; }
    .project .body-left img {
      width: 50%; } }

@media screen and (max-width: 400px) {
  .slide {
    margin: 0% 5%;
    width: 90%; }
  .featured .profile {
    width: 80%;
    margin: 0px 10%;
    top: 20%; }
    .featured .profile .profile-pic img {
      max-width: 200px;
      max-height: 200px; }
    .featured .profile .profile-connect img {
      width: 50px;
      height: 50px; }
  .project .body-left, .project .body-right {
    width: 100%; }
  .project .body-left {
    text-align: center; }
    .project .body-left img {
      width: 50%; } }

.category {
  display: inline;
  list-style: none; }
