<section class="nav-bar desk-nav">
  <div class="logo left">
    <a href="/"><h1>MRB</h1></a>
  </div>
  <div class="nav-list left">
    <ul class="nav-options">
      <li class="option"><a class="small" href="/c/featured">Featured</a></li>
      <li class="option"><a class="small" href="/c/node-js">Node JS</a></li>
      <li class="option"><a class="small" href="/c/news-seed">News Seed</a></li>
      <li class="option"><a class="small" href="/about">About</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</section>
<section class="mobile-nav">
  <div class="nav-bar">
    <div class="logo left">
      <a href="/"><h1>MRB</h1></a>
    </div>
    <div class="nav-toggle right">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="clear"></div>
    <div class="nav-mobile">
      <ul class="nav-options-mobile">
        <li class="option-mobile"><a class="small" href="/c/featured">Featured</a></li>
        <li class="option-mobile"><a class="small" href="/c/node-js">Node JS</a></li>
        <li class="option-mobile"><a class="small" href="/c/news-seed">News Seed</a></li>
        <li class="option-mobile"><a class="small" href="/about">About</a></li>
      </ul>
    </div>
  </div>
</section>
