div.contact-icons
                    div.ui.horizontal.list
                      div.item
                        a(href="https://github.com/maxrbaldwin", target="_blank")
                          i.big.github.icon
                      div.item
                        a(href="http://stackoverflow.com/users/3266303/max-baldwin", target="_blank")
                          i.big.stack.exchange.icon
                      div.item
                        a(href="https://twitter.com/MaxRBaldwin", target="_blank")
                          i.big.twitter.icon
                      div.item
                        a(href="https://instagram.com/maxrbaldwin2328/", target="_blank")
                          i.big.instagram.icon
                  div.ui.form
                    div.two.fields
                      div.ui.field
                        input(type="text", name="first-name", placeholder="First Name")
                      div.ui.field
                        input(type="text" name="last-name" placeholder="Last Name")
                    div.ui.field
                      input(type="text" name="email" placeholder="yourEmail@email.com")
                    div.ui.field
                      textarea(placeholder="How can I help you?")
                    div.three.fields
                      div.ui.field
                        input(type="text", name="number-one", placeholder="Number One")
                        span.numeral.first-number
                      div.ui.field
                        input(type="text", name="number-two", placeholder="Number Two")
                        span.numeral.second-number
                      div.ui.field
                        input(type="text", name="number-three", placeholder="Number Three")
                        span.numeral.third-number
                    div.ui.submit.button Submit