div.ui.two.column.grid
                    div.column
                      div.ui.horizontal.segment
                        div.ui.animated.list
                          div.item.journal-entry
                            a(href="#")
                              h3 Dynamic Underscore Templates
                            p Don't use ajax requests to load your underscore templates dynamically.
                          div.item.journal-entry
                            a(href="#")
                              h3 Compiling vs Require JS
                            p Both are to ensure that your code loads properly. Which one is better?
                          div.item.journal-entry
                            a(href="#")
                              h3 Compiling vs Require JS
                            p Both are to ensure that your code loads properly. Which one is better?
                          div.item.journal-entry
                            a(href="#")
                              h3 Compiling vs Require JS
                            p Both are to ensure that your code loads properly. Which one is better?
                          div.item.journal-entry
                            a(href="#")
                              h3 Compiling vs Require JS
                            p Both are to ensure that your code loads properly. Which one is better?
                    div.column
                      div.ui.horizontal.segment
                        h3 My Favorite Stack Posts
                        div.ui.animated.bulleted.list
                          a.item External Templates With Underscore
                          a.item When to use Requirejs and when to use bundled javascript
                          a.item How to organize folder structure in node.js?
                          a.item node.js server and HTTP/2 (2.0) with express.js
                          a.item Run Template in Template (recursion) within underscore.js